.home-page header{
    background-image: url(../utils/img/header.jpg);
}
header{
    background-size: cover;
    background-position: center;
}

header h1{
    font-size: Srem;
}
.home-page header h1,.home-page header h2{
text-shadow: 2px 2px 8px #ffffff;
}

.menu-section{
    background-image: linear-gradient(rgba(0,0,0,7), rgba(0,0,0,0.7)), url(https://imgs.search.brave.com/KXzAsqZtblo2pvZZ2Nx0sKZaCuDcVOlOcy0WcQ3w7ho/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90YXJq/ZXRhc2RlcHJlc2Vu/dGFjaW9uY3JlYXRp/dmFzLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxOS8wNS9t/b2RlbG9zLWRlLWZv/bmRvcy1wYXJhLW1l/bnVzLWRlLXJlc3Rh/dXJhbnRlcy5qcGc);
    background-size: cover;
    background-position: center;
}

img{
    border-style: solid;
    border-width:5px ;
}
@media only screen and (max-width:700px){
    header h1{
        font-size: 4rem;
    }
}

@media only screen and (max-width:576px){
    header h1{
        font-size: 3rem;
    }
}